<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Saraiva</title>

    <link href="../css/geral.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>

        <div class="div-header">
            <h1>Daniel Saraiva</h1>
            <nav class="nav-principal">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="page1.html">História</a></li>
                    <li><a href="page2.html">Carreira Profissional</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <section>
            <article>

                <h2>História</h2>
                <ol>
                    <li>Meu nome é Daniel, tenho 21 anos.</li>
                    <li>Trabalho na área de desenvolvimento de sistemas.</li>
                    <li>Seja ela Front-End | Back-End.</li>
                    <li>Tudo começou em 2020, bem no ínicio da pandemia, por culpa do isolamento social. Comecei a me
                        aprofunda na area de DEV. Fiz diversos cursos para me qualificar.</li>
                    <li>Na meu perfil do Github, pode encontrar diversos projetos, mostrando a minha criatividade e meu
                        desempenho Profissional</li>
                </ol>

            </article>
        </section>
    </main>

    <footer class="final">

        <section>

            <h4>Entre em contato</h4>

            <ul class="ulcontato">
                <li>
                    <a href="https://www.linkedin.com/in/dannsaraiva" alt="Icone do logotipo do linkedin"
                        target="_blank">
                        <img src="../image/icon-linkedin.png"> Linkedin
                    </a>
                </li>
                <li>
                    <a href="https://github.com/DannSaraiva" alt="Icone do logotipo do github" target="_blank">
                        <img src="../image/icon-github.png"> Github
                    </a>
                </li>
                <li>
                    <a href="https://criarmeulink.com.br/u/1653588993" alt="Icone de um telefone" target="_blank">
                        <img src="../image/icon-telefone.png"> Telefone
                    </a>
                </li>
                <li>
                    <a href="https://criarmeulink.com.br/u/1653589061" alt="Icone de um underline" target="_blank">
                        <img src="../image/icon-underline.png"> E-mail
                    </a>
                </li>
            </ul>

        </section>

        <div class="div-formulario">
            <h4>Entre em contato</h4>
            <form class="form">

                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome...">

                <label for="sobrenome">Sobre Nome</label>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome...">
                <br><br>

                <label for="tel">Telefone</label>
                <input type="number" name="tel" id="tel" placeholder="11-90000-0000">

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="seuemail@gamil.com">
                <br><br>

                <label>Posso Ajudar ?</label><br>
                <textarea></textarea><br>

                <input type="submit" type="reset">

            </form>

        </div>

    </footer>

</body>

</html>